@import url('https://fonts.googleapis.com/css?family=Hind');

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: #dee2e6;
	background-color: #212529;
	font-family: 'Hind', sans-serif;
	text-transform: uppercase;
}

.sizer {
	width: 100vw;
	height: 100vh;
}

.container {
    position: relative;
    line-height: 0;
    transform-origin: top left; /* Ensure scaling is relative to the top-left corner */
}

.score {
	position: absolute;
	top: 10px;
	line-height: 1;
}

.score span {
	font-size: 3.25rem;
}

.current-score {
	left: 10px;
}

.current-bonus {
	left: 160px;
}

.high-score {
	text-align: right;
	right: 10px;
}

.trigger {
	appearance: none;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 10px;
	border: 0;
	border-radius: 50%;
	color: inherit;
	background-color: #e64980;
	text-align: center;
	line-height: 80px;
	font-size: 1.25rem;
	text-transform: inherit;
	cursor: pointer;
	user-select: none;
	outline: none;
}

.left-trigger {
	left: 10px;
}

.right-trigger {
	right: 60px;
}

.reset {
	appearance: none;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 80px;
	left: 15px;
	border: 0;
	border-radius: 50%;
	color: inherit;
	background-color: #e64980;
	text-align: center;
	line-height: 40px;
	font-size: 0.6rem;
	text-transform: inherit;
	cursor: pointer;
	user-select: none;
	outline: none;
}

canvas {
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}
